apiVersion: ray.io/v1
kind: RayService
metadata:
  name: sentinel-serving-recommend
  namespace: sentinel-prod
spec:
  # 1. Health Checks (Give Ray Serve time to download the model from S3)
  serviceUnhealthySecondThreshold: 900
  deploymentUnhealthySecondThreshold: 300

  # 2. Application Config
  serveConfigV2: |
    applications:
      - name: sentinel_app
        # 1. Point to the object inside the module
        import_path: serve.recommend:entrypoint
        
        route_prefix: /recommend
        
        # 2. Runtime Env to enforce V1 compatibility
        runtime_env:
          env_vars:
            RAY_TRAIN_V2_ENABLED: "0"

        # 3. DECLARATIVE SCALING (The "Staff Engineer" Way)
        deployments:
          - name: MovieRecommender # MUST match the class name (or @serve.deployment name)
            autoscaling_config:
              min_replicas: 1
              max_replicas: 5
              target_num_ongoing_requests_per_replica: 5
              upscale_delay_s: 1
              downscale_delay_s: 30
            ray_actor_options:
              num_cpus: 0.5

  # 3. Infrastructure Config
  rayClusterConfig:
    rayVersion: '2.53.0'
    enableInTreeAutoscaling: true
    
    # HEAD NODE
    headGroupSpec:
      rayStartParams:
        dashboard-host: '0.0.0.0'
      template:
        spec:
          containers:
          - name: ray-head
            image: duyuyang545/sentinel-serve:v2.2
            resources:
              limits:
                cpu: "500m"
                memory: 2Gi
              requests:
                cpu: "500m"
                memory: 2Gi
            ports:
            - containerPort: 8265
              name: dashboard
            - containerPort: 8000
              name: serve # HTTP Traffic enters here

    # WORKER NODES
    workerGroupSpecs:
    - replicas: 2
      minReplicas: 1
      maxReplicas: 5
      groupName: serve-group
      rayStartParams: {}
      template:
        spec:
          nodeSelector:
            intention: training
            lifecycle: Ec2Spot
          containers:
          - name: ray-worker
            image: duyuyang545/sentinel-serve:v2.2
            resources:
              limits:
                cpu: "500m"
                memory: 2Gi
              requests:
                cpu: "500m"
                memory: 2Gi
